- form_for @url_obj do |form|
  = form.error_messages
  %fieldset#href-input
    %legend url
    = form.label :href, 'a full url, like http://joe-is-awesome.com'
    = form.text_field :href

  %fieldset#taglist-input
    %legend tags
    = form.label :tag_list, 'a comma separated list of tags'
    = form.text_field :tag_list

  %fieldset.buttons
    = form.submit 'Save'
