- form_for @url_obj do |form|
  = form.error_messages
  %fieldset.labelled-input
    = form.label :href, 'enter your long url'
    = form.text_field :href

  %fieldset.labelled-input
    = form.label :tag_list, 'enter a comma-separated list of tags'
    = form.text_field :tag_list

  = form.submit 'Save'
