- form_for @url_obj do |form|
  = form.error_messages
  = form.label :href, 'Enter your long url'
  = form.text_field :href

  = form.label :tag_list, 'Enter a comma-separated list of tags'
  = form.text_field :tag_list

  = form.submit 'Save'
